.login
  &-container
    margin-top: 130px
    display: flex
    flex-direction: column
    align-items: center
  &__title
    margin: 0
    +h(40px)
    font-weight: bold
    color: $text-color
    text-align: center
  &-form
    margin-top: 50px
    padding: 60px 60px 65px 60px
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    max-width: 450px
    +card-shadow
  &-input
    display: flex
    flex-direction: column
    align-items: center
    &:nth-child(1n+2)
      margin-top: 35px
    &:nth-child(2)
      margin-bottom: 20px
    &__title
      margin: 0
      +h(24px)
      color: $text-color
      font-weight: bold
    &__item
      margin-top: 30px
      +h(24px)
  &__button
    margin-top: 30px
    padding: 8px 20px
    max-width: 185px
    +h(24px)
  &-error
    +h(18px)
    color: $error-color
    text-align: center

@media ( max-width: 768px )
  .login
    &-container
      margin-top: 90px
    &__title
      font-size: 34px

@media ( max-width: 576px )
  .login
    &-container
      margin-top: 70px
    &__title
      max-width: 420px
    &-form
      padding: 40px 40px 45px 40px
    &-input
      &__title
        font-size: 22px
      &__item
        margin-top: 20px
        font-size: 22px
    &__button
      font-size: 22px
    &-error
      font-size: 16px

@media ( max-width: 480px )
  .login
    &-input
      &__item
        width: 100%

@media ( max-width: 375px )
  .login
    &-input
      &__title
        font-size: 20px
      &__item
        width: 100%
        font-size: 20px
    &__button
      font-size: 20px
    &-form
      padding: 40px 30px 45px 30px