.header
  &__title
    margin: 0
    +h(48px)
    color: $text-color
    font-weight: bold
    text-transform: uppercase
    &-line
      position: relative
      &::after
        content: ''
        position: absolute
        bottom: -8px
        left: 0
        width: 100%
        height: 4px
        background-color: $accent-color