.settings
  padding: 0 30px
  &-container
    margin-top: 110px
    padding: 50px
    max-width: 1240px
    +card-shadow
  &-content
    margin: 50px 0 40px 0
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    & > .settings-input:nth-child(2n+1)
      margin-right: 20px
    & > .settings-input:nth-child(1n+3)
      margin-top: 20px
    &__none
      margin: 0
      +h(18px)
      color: $error-color
  &__title
    &-item
      margin: 0
      position: relative
      display: inline-block
      +h(24px)
      font-weight: bold
      color: $text-color
      &::after
        content: ''
        position: absolute
        bottom: 1px
        left: 0
        width: 100%
        height: 1px
        background-color: #fff
  &-input
    display: flex
    width: 100%
    max-width: 490px
    &__label
      margin: 0 20px 0 0
      align-self: center
      width: 100%
      max-width: 330px
      +h(16px)
      color: $text-color
    &__wrapper
      display: flex
      align-items: center
      width: 100%
      max-width: 160px
    &__item
      margin-right: 5px
      width: 66px
      text-align: center
      +h(14px)
      font-weight: bold
      color: $text-color
      border-bottom: 1px solid #fff
      transition: border-bottom-color 0.3s ease
      &::placeholder
        color: rgba(255, 254, 254, 0.5)
      &:invalid
        border-bottom-color: $accent-color
      &:focus-visible
        border-bottom-color: #ffff00
        &:invalid
          border-bottom-color: $accent-color
    &__text
      +h(14px)
      font-weight: bold
      color: $text-color
  &-footer
    display: flex
    justify-content: space-between
    align-items: center
    &__button
      margin-left: 20px
      max-width: 185px

@media ( max-width: 1366px )
  .settings
    max-width: none
    &-input
      max-width: 480px
      &-__abel
        max-width: 320px

@media ( max-width: 1200px )
  .settings
    &-container
      padding: 40px
    &-input
      max-width: 420px
      &__label
        max-width: 288px
    &-content
      & > .settings-input:nth-child(2n+1)
        margin-right: 10px

@media ( max-width: 992px )
  .settings
    &-container
      margin-top: 90px
    &__title
      &-item
        font-size: 20px
        text-align: center
    &-input
      max-width: none
      &__label
        max-width: none
    &-content
      flex-direction: column
      & > .settings-input:nth-child(2n+1)
        margin-right: 0
      & > .settings-input:nth-child(1n+2)
        margin-top: 25px

@media ( max-width: 768px )
  .settings
    &-footer
      flex-direction: column
      &__button
        margin: 20px 0 0 0

@media ( max-width: 576px )
  .settings
    &-container
      margin-top: 70px
    &__title
      display: flex
      flex-direction: column
      align-items: center
    &-input
      flex-direction: column
      align-items: center
      &__wrapper
        flex-direction: column
        align-items: center
        max-width: none
      &__label
        margin-right: 0
        text-align: center
      &__item
        margin-top: 10px
        margin-right: 0
        width: 100%
        max-width: none
      &__text
        margin-top: 5px
    &-content
      & > .settings-input:nth-child(1n+2)
        margin-top: 30px

@media ( max-width: 480px )
  .settings
    &-container
      margin-top: 50px
    padding: 30px
    &__title
      &-item
        font-size: 19px
        text-align: center
    &-input
      &__label
        font-size: 16px
      &__item
        font-size: 16px
      &__text
        font-size: 14px
    &-content
      margin: 30px 0 30px 0

@media ( max-width: 375px )
  .settings
    &-container
      margin-top: 30px
    &-footer
      &__button
        max-width: none